extends layout

block content
    doctype html
    head 
        style.
            .container {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: safe center;
                align-content: safe center;
             }
            
    .main
      .banner
        h1 Witaj w mojej bibliotece
      .container
        form(action='addDev' method='POST')
          h1 Dodaj developera
          table.addDevTable
            tr
                td
                    |   Nazwa: 
                td
                    input.devInput(type='text' name='name')
            tr
                td(colspan = 2)
                    input.devSubmit(type='submit' value='Wy\u015Blij')
      .footer
        p Stworzone przez Jakub Chabrowski, Dawid Wo&zacute;niak &copy;
