extends layout

block content   
    doctype html      
    .main
      .banner
        h1 Witaj w mojej bibliotece
      .container

        form(action='addGame' method='POST')
            h1  Dodaj gr&eogon;
            table.addGameTable
                tr
                    td
                        |       Nazwa: 
                    td
                        input.gameInput(type='text' name='name')
                tr
                    td
                        |       Developer:
                    td
                        select.gameInput(name = 'dev')
                            each devName in devNames
                                option(value= devName.Id)= devName.Name
                tr
                    td
                        |       Gatunek: 
                    td
                        select.gameInput(name = 'genre')
                            each genreName in genreNames
                                option(value= genreName.Id)= genreName.Name
                tr
                    td
                        |       Data wydania:
                    td
                        input.gameInput(type='date' name='date')
                tr
                    td
                        |       Opis:
                    td
                        input.gameInput(type='text' name='description')
                tr
                    td
                        |       Url do zdjecia:
                    td
                        input.gameInput(type='text' name='url')
                tr
                    td(colspan = 2)
                        input.GameSubmit(type='submit' value='Wy\u015Blij')
      .footer
        p Stworzone przez Jakub Chabrowski, Dawid Wo&zacute;niak &copy;
