extends layout

block content
    doctype html      
    .main
      .banner
        h1 Witaj w mojej bibliotece
      .container
        //
          <script>
          $.get('addGame/'+this.value,function(data){
          for(var j = 0; j < length; j++)
          {
          $('#genre').contents().remove();
          var newOption = $('<option/>');
          newOption.attr('text', data[j].text);
          newOption.attr('value', data[j].value);
          $('#skill').append(newOption);
          }
          });
          </script>
        form(action='addGame' method='POST')
          h1  Dodaj gr&eogon
          |                 Nazwa: 
          input(type='text' name='name')
          |                 Gatunek:
          select#genre
          input(type='submit' value='Wy\u015Blij')
      .footer
        p Stworzone przez Jakub Chabrowski, Dawid Wo&zacute;niak &copy;
