extends layout
block content
    doctype html
    .main
      .banner
        h1 Witaj w mojej bibliotece
      .container
        h1 Nie uzupe³niono wszystkich pól
      .footer
        p Stworzone przez Jakub Chabrowski, Dawid Wo&zacute;niak &copy;
