extends layout
block content
    doctype html
    head 
        style.
            .container {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: safe center;
                align-content: safe center;
             }
            
    .main
      .banner
        h1 Witaj w mojej bibliotece
      .container
        .navigationButton
          a.navigationButtonLink(href="/showGames") Wy&sacute;wietl gry
        .navigationButton
          a.navigationButtonLink(href='/showDev') Wy&sacute;wietl developer&oacute;w
        .navigationButton
          a.navigationButtonLink(href='/showGenre') Wy&sacute;wietl gatunki
        .navigationButton
          a.navigationButtonLink(href='/addGame') Dodaj gr&eogon;
        .navigationButton
          a.navigationButtonLink(href='/addDev') Dodaj developera
        .navigationButton
          a.navigationButtonLink(href='/addGenre') Dodaj gatunek
      .footer
        p Stworzone przez Jakub Chabrowski, Dawid Wo&zacute;niak &copy;
