extends layout
block content
    doctype html
    head
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/stylesheets/main.css')
      title Moja biblioteka
      link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    .main
      .banner
        h1 Witaj w mojej bibliotece
      .container
        .navigationButton
          a.navigationButtonLink(href="/showGames") Wy&sacute;wietl gry
        .navigationButton
          a.navigationButtonLink(href='/showDev') Wy&sacute;wietl developer&oacute;w
        .navigationButton
          a.navigationButtonLink(href='/showGenre') Wy&sacute;wietl gatunki
        .navigationButton
          a.navigationButtonLink(href='/addGame') Dodaj gr&eogon;
        .navigationButton
          a.navigationButtonLink(href='/addDev') Dodaj developera
        .navigationButton
          a.navigationButtonLink(href='/addGenre') Dodaj gatunek
      .footer
        p Created by Jakub Chabrowski, Dawid Wo&zacute;niak &copy;
