doctype html
html
  head
    title Moja biblioteka
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js')
  body
    block content
    ul.menu
      li
        a.menuItem(href='/') Strona g&lstrok;&oacute;wna
      li
        a.menuItem(href="/showGames") Wy&sacute;wietl gry
      li
        a.menuItem(href='/showDev') Wy&sacute;wietl developer&oacute;w
      li
        a.menuItem(href='/showGenre') Wy&sacute;wietl gatunki
      li
        a.menuItem(href='/addGame') Dodaj gr&eogon;
      li
        a.menuItem(href='/addDev') Dodaj developera
      li
        a.menuItem(href='/addGenre') Dodaj gatunek
  button.hamburger
    i.menuIcon.material-icons menu
    i.closeIcon.material-icons close
  script.
    const menu = document.querySelector(".menu");
    const menuItems = document.querySelectorAll(".menuItem");
    const hamburger= document.querySelector(".hamburger");
    const closeIcon= document.querySelector(".closeIcon");
    const menuIcon = document.querySelector(".menuIcon");
    function toggleMenu() {
    if (menu.classList.contains("showMenu")) {
    menu.classList.remove("showMenu");
    closeIcon.style.display = "none";
    menuIcon.style.display = "block";
    menu.style.background = "rgba(0,0,0,0.7)";
    } else {
    menu.classList.add("showMenu");
    closeIcon.style.display = "block";
    menuIcon.style.display = "none";
    menu.style.background = "rgba(0,0,0,0.7)";
    }
    }
    hamburger.addEventListener("click", toggleMenu);
    menuItems.forEach(
    function(menuItem) {
    menuItem.addEventListener("click", toggleMenu);
    }
    )