extends layout
block content
    doctype html
    .main
      .banner
        h1 Witaj w mojej bibliotece
      .container
        table.gameDetailsTable
            tr
              td.gameTableHeader
                | Id
              td.gameTableHeader
                | Nazwa
              td.gameTableHeader
                | Developer
              td.gameTableHeader
                | Gatunek
              td.gameTableHeader
                | Data wydania
              td.gameTableHeader
                | Opis
                
            each game in games
                tr
                    td.gameTableItem= game.Id
                    td.gameTableItem= game.Name
                    td.gameTableItem= game.Dev
                    td.gameTableItem= game.Genre
      .footer
        p Stworzone przez Jakub Chabrowski, Dawid Wo&zacute;niak &copy;