extends layout

block content
    doctype html
    .main
      .banner
        h1 Witaj w mojej bibliotece
      .container
        table.gameTable
            tr
              th.gameTableHeader
                | Id
              th.gameTableHeader
                | Nazwa
              th.gameTableHeader
                | Developer
              th.gameTableHeader
                | Gatunek
                
            each game in games
                tr
                    td.gameTableItem= game.Id
                    td.gameTableItem= game.Name
                    td.gameTableItem= game.Dev
                    td.gameTableItem= game.Genre

      .footer
        p Created by Jakub Chabrowski, Dawid Wo&zacute;niak &copy;

