extends layout

block content
    doctype html
    .main
      .banner
        h1 Witaj w mojej bibliotece
      .container
        table.genreTable
            tr
              td.genreTableHeader
                | Id
              td.genreTableHeader
                | Nazwa
                
            each genre in genres
              tr
                td.genreTableItem= genre.Id
                td.genreTableItem= genre.Name
      .footer
        p Stworzone przez Jakub Chabrowski, Dawid Wo&zacute;niak &copy;
