extends layout

block content
    doctype html
    .main
      .banner
        h1 Witaj w mojej bibliotece
      .container
          table.devTable
            tr
              td.devTableHeader
                | Id
              td.devTableHeader
                | Nazwa

            each dev in devs
              tr
                td.gameTableItem= dev.Id
                td.gameTableItem= dev.Name
                  

      .footer
        p Stworzone przez Jakub Chabrowski, Dawid Wo&zacute;niak &copy;
